.logo_head{
    display:flex;
    background-color:#807979;
    padding: 10px;
    border-bottom: 3px solid black;
    position: fixed;
    width: 100%;
    font-family: cursive;
    padding:0;
    top: 0;
    overflow: hidden;
}
.user{
   text-align: end;
    font-size: 20px;
    color: lawngreen;
}
.logo_index{
    width: 60px;
    height: 60px;
    text-align: left;
    border: 2px solid aqua;
    border-radius: 50%;
    margin:10px 10px 0 10px ; 
}
header{
    font-size: 30px;
    margin:15px 10px 0 10px ; 
    color: whitesmoke;
}
.bar{
    margin-left: 20px ;
}
.but{
    width: 80%;
    /* margin: 10px 0px 0px 20px; */
    text-decoration: none;
}