header{
    background-color:#807979;
    padding: 10px;
    border-bottom: 5px solid black;
    /* display:flex */
}
.logo_head{
    display: flex;
    width: fit-content;
    margin-right:5px;
}
.user{
    text-align: right;
    font-size: 20px;
    color: lawngreen;
    margin-top: -30px;
}
.logo_index{
    width: 100px;
    height: 80px;
    text-align: left;
    border: 2px solid aqua;
    border-radius: 50%;
}
h1{
    font-size: 40px;
    margin:10px 0 0 10px ; 
    color: whitesmoke;
}
.bar{
    margin-left: 20px ;
}