
.btd:hover{
    background-color: #F59B2F;
}
.btd{
    padding-right: 100px;
    font-family: cursive;
    font-size: 20px;
    height: 99%;
    border: none;
    background-color: #807979;
    font-weight: bold;
    line-height: 80px; 
    box-sizing: border-box; 
}

